.pokemonGrid {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.header {
	margin-inline: auto;
}

.listContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.pokemon {
	transition-duration: 200ms;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}

.pokemon:hover {
	/* padding-left: 15px; */
	background-color: grey;
	color: black;
}

.search {
	padding: 15px;
	border-radius: 5px;
	font-size: 16px;
}
