.header {
	padding: 30px 0;
	background-color: #cc0000;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.headerContainer {
	display: flex;
	flex-direction: column;
	max-width: min(700px, 90%);
	margin-inline: auto;
}

.headerContainer > img {
	max-width: 100%;
	margin-inline: auto;
}

.headerContainer > h1 {
	margin-inline: auto;
	color: white;
	font-weight: normal;
	text-align: center;
	letter-spacing: -1px;
}

.searchBar {
	position: relative;
	background-color: white;
	border-radius: 100px;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px 0px inset,
		rgba(17, 17, 26, 0.05) 0px 8px 32px 0px;
	overflow: hidden;
}

.searchBar > input {
	width: 100%;
	padding: 15px 15px 15px 50px;
	background: none;
	border: none;
	outline: none;
	font-size: 16px;
	color: black;
}

.searchBar > svg {
	position: absolute;
	top: 50%;
	left: 13px;
	transform: translateY(-50%);
}

.listContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 220px), 1fr));
	gap: 10px;
	max-width: min(700px, 90%);
	margin-inline: auto;
	padding: 30px 0;
}

.pokemon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transition-duration: 200ms;
	cursor: pointer;
}

.pokemon:hover {
	transform: translateY(-2%) scale(110%) rotate(1deg);
}

.pokeId {
	color: #82878c;
	font-size: 13px;
}
