.navBar {
	padding: 30px 0;
	background-color: #cc0000;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navBarContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: min(700px, 90%);
	margin-inline: auto;
}

.navBarContainer span {
	color: white;
	font-size: 1.6em;
	font-weight: bold;
}

.closeBtn {
	background: none;
	border: none;
	color: white;
	line-height: 0;
	cursor: pointer;
	transition-duration: 200ms;
}

.closeBtn svg {
	width: 35px;
	height: 35px;
}

.closeBtn:hover {
	transform: scale(115%);
}

.bodyContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: min(700px, 90%);
	margin-inline: auto;
	padding: 30px 0;
}

.infoBox {
	padding: 30px;
	background-color: white;
	border-radius: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	font-weight: normal;
	letter-spacing: -1px;
}

h1 .id {
	color: #82878c;
}

h3 {
	margin-top: 0;
}

.infoBox > img {
	display: block;
	width: min(320px, 100%);
	margin-inline: auto;
	margin-bottom: 2em;
}

.sizeItems {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
}

.sizeItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.sizeTitle {
	color: #82878c;
	font-weight: bold;
}

.sizeData {
	padding: 15px 90px;
	background-color: #f8f9fa;
	border: 2px solid #c3c3c3;
	border-radius: 15px;
}

.statLabel {
	margin-bottom: 6px;
}

.statContainer {
	width: 100%;
	height: 16px;
	border-radius: 50px;
}

.statBar {
	height: 100%;
	border-radius: 50px;
	text-align: center;
	font-size: 12px;
}

.statContainer[data-stat-type='hp'] {
	background-color: rgb(105, 220, 18, 0.25);
}
.statBar[data-stat-type='hp'] {
	background-color: #69dc12;
}

.statContainer[data-stat-type='attack'] {
	background-color: rgb(239, 204, 24, 0.3);
}
.statBar[data-stat-type='attack'] {
	background-color: #efcc18;
}

.statContainer[data-stat-type='defense'] {
	background-color: rgb(232, 100, 18, 0.25);
}
.statBar[data-stat-type='defense'] {
	background-color: #e86412;
}

.statContainer[data-stat-type='special-attack'] {
	background-color: rgb(20, 195, 241, 0.25);
}
.statBar[data-stat-type='special-attack'] {
	background-color: #14c3f1;
}

.statContainer[data-stat-type='special-defense'] {
	background-color: rgb(74, 106, 223, 0.25);
}
.statBar[data-stat-type='special-defense'] {
	background-color: #4a6adf;
}

.statContainer[data-stat-type='speed'] {
	background-color: rgb(213, 29, 173, 0.25);
}
.statBar[data-stat-type='speed'] {
	background-color: #d51dad;
}

.types {
	display: flex;
	justify-content: center;
	gap: 5px;
	flex-wrap: wrap;
}

.type {
	padding: 5px 15px;
	background-color: lightgrey;
	border-radius: 50px;
}

.type[data-type='normal'] {
	background-color: #aab09f;
}
.type[data-type='fire'] {
	background-color: #ea7a3c;
}
.type[data-type='water'] {
	background-color: #539ae2;
}
.type[data-type='electric'] {
	background-color: #e5c531;
}
.type[data-type='grass'] {
	background-color: #71c558;
}
.type[data-type='ice'] {
	background-color: #70cbd4;
}
.type[data-type='fighting'] {
	background-color: #cb5f48;
}
.type[data-type='poison'] {
	background-color: #b468b7;
}
.type[data-type='ground'] {
	background-color: #cc9f4f;
}
.type[data-type='flying'] {
	background-color: #7da6de;
}
.type[data-type='psychic'] {
	background-color: #e5709b;
}
.type[data-type='bug'] {
	background-color: #94bc4a;
}
.type[data-type='rock'] {
	background-color: #b2a061;
}
.type[data-type='ghost'] {
	background-color: #846ab6;
}
.type[data-type='dragon'] {
	background-color: #6a7baf;
}
.type[data-type='dark'] {
	background-color: #736c75;
}
.type[data-type='steel'] {
	background-color: #89a1b0;
}
.type[data-type='fairy'] {
	background-color: #e397d1;
}

.moves {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.move {
	padding: 5px 15px;
	background-color: lightgrey;
	border-radius: 5px;
}
